<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/Templates/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="/Templates/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2" style="color: red;">ADMİN Faruk Emre Başer</span>
                </div>
                <span class="badge badge-danger text-white ml-3 rounded"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Department/Index">
                <i class="mdi mdi-hospital menu-icon"></i>
                <span class="menu-title">Bölümler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Doctor/Index">
                <i class="mdi mdi-human-greeting menu-icon"></i>
                <span class="menu-title">Doktorlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Appointment/Index">
                <i class="mdi mdi-content-paste menu-icon"></i>
                <span class="menu-title">Randevular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index">
                <i class="mdi mdi-view-grid menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index">
                <i class="mdi mdi-contact-phone menu-icon"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/Index">
                <i class="mdi mdi-comment-text-outline menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Slider/Index">
                <i class="mdi mdi mdi-animation menu-icon"></i>
                <span class="menu-title">Sliders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/SocialMedia/SocialMediaList">
                <i class="mdi mdi mdi-instagram menu-icon"></i>
                <span class="menu-title">Sosyal Medya</span>
            </a>
        </li>
    </ul>
</nav>
